<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DBHost" value="localhost" />
		<add key="DBUser" value="root" />
		<add key="DBPassword" value="root" />
		<add key="DBName" value="db30" />
		<add key="Admin_login" value="admin" />
		<add key="Admin_pwd" value="admin" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>